@using SampleApp.Models;
@model Implementation


@{
    ViewBag.Title = "Detail";
}

<h2>Subdomain name: @Model.ImplementationName</h2>
<h2>Subdomain description: @Model.Description</h2>

<p><a class="btn btn-default" href="http://www.sample.com:8282/">Back</a></p>

